@{
    ViewBag.Title = "Result";
}
@using OnlineExamPortalBasic.Models
@using OnlineExamPortalBasic.Controllers

<body>
    @{

        <div style="background-color:white; opacity:1.0;" class="col-lg-2">
            <br />

            <br />

            <ul class="nav navbar">
                @{
                    int count = 0;
                    foreach (var x in ViewBag.Subjects)
                    {
                        if (count % 2 == 0)
                        {
                            <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-right">@x.SubjectName</a></li>
                        }
                        if (count % 2 == 1)
                        {
                            <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-left">@x.SubjectName</a></li>
                        }
                        count++;
                    }
                }


            </ul>
        </div>
    }

    @{
    double correct = double.Parse(Session["correct"] as string);
        double incorrect = double.Parse(Session["incorrect"] as string);
        double per = (correct / (correct + incorrect))*100;
        
        <div class="col-lg-6">

            <p>your correct are @correct</p>
            <p>your incorrect are @incorrect</p>
            <p>your %age is are @per</p>
        </div>
    }

</body>